*{
  padding: 0;
  margin: 0;
}

/* 테스트 */
#root{ 
  background-color: rgb(234, 243, 181);
  border: 1px solid black;
  justify-content: center;
  display: flex;
  width: 100%;
  height:98vh;
  flex-direction: column;
  align-items: center;
}
#root > div{
  display: flex;
  width: 50%;
}
#root > form{
  display: flex;
  flex-direction: column;
  width: 50%;
}
#title{
  display: flex;
}
#date{
  display: flex;
}
#content{
  resize: none;
}